<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Video igre</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<div class="section">
    <h1>Lista video igara</h1>
    <a href="/games/add">➕ Dodaj novu igru</a>
</div>

<div class="section" th:each="game : ${games}">
    <h2 th:text="${game.title}"></h2>
    <p><b>Zanr:</b> <span th:text="${game.genre}"></span></p>
    <p><b>Platforma:</b> <span th:text="${game.platform}"></span></p>
    <a th:href="@{|/games/${game.id}|}">Detalji</a>
    <a th:href="@{|/games/edit/${game.id}|}">Izmeni</a>
    <a th:href="@{|/games/delete/${game.id}|}">Obrisi</a>
</div>

</body>
</html>
